.fish {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 21px;
    border: none;
    border-radius: 25px;
    background-color: cornsilk;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 21px;
    color: white;
    background-color: rgb(53, 48, 48);
    border: none;
    border-radius: 8px;
}

.show {
    width: 120px;
    height: 37px;
    border: none;
    border-radius: 15px;
    background-color: blue;
    font-size: 19px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
}

.modal_name {
    font-size: 21px;
    font-weight: bold;
    color: black;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    font-size: 21px;
    font-weight: bold;
}

.emoji_star {
    font-size: 24px;
    display: inline-block;
    background-color: transparent;
    color: inherit;
}

.like {
    font-size: 24px;
    display: inline-block;
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
}