.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    z-index: 1000;
    border: 1px solid #000;
    border-radius: 10px;
}

.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
}