.header {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(3, 22, 65) 75.3%);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 7px;
    color: white;
    font-weight: bold;
}

.fish_logo {
    width: 60px;
    height: 60px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
}