.fishes_list {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    background: radial-gradient(263px at 100.2% 3%, rgb(12, 85, 141) 31.1%, rgb(205, 181, 93) 36.4%, rgb(244, 102, 90) 50.9%, rgb(199, 206, 187) 60.7%, rgb(249, 140, 69) 72.5%, rgb(12, 73, 116) 72.6%);
}

h1 {
    color: white;
    font-size: 30px;
}

.fishes_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}